  /* brian */
  .multi-slideshow-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2vh;
  }

  .slideshow-container {
    flex: 1;
    max-width: 30%;
    position: relative;
  }

  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #dfdfff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(153,8,0,0.8);
  }
  
  .text {
    color: #fff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #fff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    box-shadow: 0.095vh 0.095vh #6e0701;
  }
  
  .active, .dot:hover {
    background-color: #990800;
    box-shadow: 0.095vh 0.095vh #6e0701;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from { opacity: .4; }
    to { opacity: 1; }
  }
  
  .saleBanner {
    display: block;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 60vh;
    height: 80vh; /* Fixed height or adjust as needed */
    border-radius: 3vh;
    box-shadow: 0.4vh 0.4vh #6e0701;
  }
/* brian */