/*brian*/

* {
  margin: 0;
  padding: auto;
  box-sizing:border-box;
  text-decoration: none;
  font-family: 'Segoe UI', "roboto", sans-serif;
}
html {
  background-color: #444444;
}
/*
header begin
*/
header {
  height: 13vh;
  background-color: #222222;
  font-weight: 400;
  font-style: normal;
  box-shadow: 0.4vh 0.4vh #990800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw; 
  border-bottom-left-radius: 5vh;
  border-bottom-right-radius: 5vh;
}

.topnav {
  margin-left: auto;
  margin-right: 2vw; 
}

.topnav a {
  border-radius: 2vh;
  color: #dfdfff;
  text-align: center;
  padding: 1.9886363636363635vh 2.272727272727273vh;
  font-size: 1.0625rem;
  margin-left: 2vw; 
}

.logo > a > img {    
  border-radius: 100%;
  height: 10vh;
  box-shadow: 0.3vh 0.3vh #111111;
}

#logonaam{
  display: flex;
  margin-left: 3vh;
  text-decoration: none;
  color: #fefefe;
}

.topnav a:hover {
  background-color: #ffffff;
  box-shadow: 0.3vh 0.3vh #6e0701;
  color: #000000;
}

.topnav a.active {
  animation: buttonchange 500ms;
  background-color: #990800;
  box-shadow: 0.3vh 0.3vh #6e0701;
  color: #ffffff;
}

@keyframes buttonchange {
0%{background-color: #ffffff;}
10%{background-color: #ffeae6;}
20%{background-color: #ffccc2;}
30%{background-color: #ffaf9d;}
40%{background-color: #ff9279;}
50%{background-color: #ff7555;}
60%{background-color: #ff5830;}
70%{background-color: #ff3c0c;}
80%{background-color: #cc1c00;}
90%{background-color: #b21600;}
100%{background-color: #990800;}
}
/*
header eind
*/

/*slideshow begin*/


/* Slideshow container */
.slideshow-container {
max-width: 25%;
position: relative;
margin: auto;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: #dfdfff;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(153,8,0,0.8);
}

/* Caption text */
.text {
color: #fff;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #fff;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #fff;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
box-shadow: 0.095vh 0.095vh #6e0701;
}

.active, .dot:hover {
background-color: #990800;
box-shadow: 0.095vh 0.095vh #6e0701;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}


.saleBanner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  width: 100%;
  border-radius: 3vh;
  box-shadow: 0.4vh 0.4vh #6e0701;
}
/*slideshow eind*/



.container {
  width: 100%;
  max-width: 300vh;
  padding: 2vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  margin-top: 5vh;
  margin-bottom: 5vh;
  align-items: center;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: auto;
  margin-right: auto;
  padding-right: 3vh;
  padding-left: 3vh;
  width: 100%;
}

.grid-item {
  background-color: #990800;
  color: #dfdfff;
  padding: 2vh;
  text-align: left;
  border-radius: 3vh;
  display: flex;
  align-items: center;
  height: 20vh;
  width: 60vh;
  box-shadow: 0.4vh 0.4vh #6e0701;
}

.textgridcolor { 
color: #dfdfff;
}

.grid-item img {
  width: 32vh;
  height: 18vh;
  border-radius: 3vh; 
  margin-right: 2vh;
  margin-left: 2vh;
  box-shadow: 0.3vh 0.3vh #4d0400;
}

.grid-item p {
  margin: 0;
}

#hollow {
  background-color: white;
}

#AboutUs{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.Bout {
color: #dfdfff;
background-color: #990800;
box-shadow: 0.4vh 0.4vh #6e0701;
border-radius: 2vh;
width: 50vh;
padding: 0.5em;
margin-top: 5vh
}

.Bout > img {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 5vh;
border-radius: 4vh;
width: 75%;
box-shadow: 0.3vh 0.3vh #4d0400;
}
.brianapo {
margin-bottom: 1vh;
}

.formthing {
display: block;
margin-left: auto;
margin-right: auto;
height: 3vh;
width: 75%;
border-style: none;
color: #dfdfff;
}
.formbubble {
box-shadow: 0.2vh 0.2vh #4d0400;
border-radius: 0.25em;
background-color: #580601;
}


#subject {
height: 30vh;
}

#submit{
width: 50%;
height: 5vh;
font-weight: bold;
font-size: large;
}

#bedankt {
display: flex;
background-color: #990800;
font-size: 5rem;
justify-content: center;
margin-top: 5vh;
margin-left: auto;
margin-right: auto;
padding: 2vh;
border-radius: 0.75em;
width: 55%;
color: #dfdfff;
}

.disclaimer{
color: #990800;
}

.product-container {
width: 80%;
margin: 5vh auto;
padding: 2vh;
background-color: #990800;
color: #dfdfff;
border-radius: 3vh;
box-shadow: 0.4vh 0.4vh #6e0701;
}

.product-container img {
width: 100%;
border-radius: 3vh;
box-shadow: 0.3vh 0.3vh #4d0400;
margin-bottom: 2vh;
}

.product-details {
padding: 2vh;
}

.product-details h2, .product-details p {
margin-bottom: 1vh;
}

.buy{
display: block;
margin-left: auto;
margin-right: auto;
border-style: none;
background-color: #990800;
border-radius: 0.25em;
color: #dfdfff;
font-size: xx-large;
padding: 1vh;
}