.h1r {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: aliceblue;
    text-align: center;
    
}

.reserveren{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: auto; 
    margin: 0;
    border: 2px solid #990800;
    margin: 0rem 30rem;
    
}

button { 
    width: 100%;
    padding: 10px;
    background-color: #9c0000; 
    color: #fff; 
    border:ridge rgb(255, 255, 255);
    border-radius: 10px; 
    cursor: pointer;
 } 
 button:hover { 
    background-color: #0056b3; 
}

@media screen and (max-width: 480px) {
    header{
        height: auto;
    }


    .reserveren {
        text-align: center;
        margin: 5rem;
    }
}

@media screen and (max-width: 768px) {
    header{
        height: auto;

    }


    .reserveren {
        text-align: center;
        margin: 5rem;
    }
    
}

