/* brian */
.multi-slideshow-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2vh;
}

.slideshow-container {
    flex: 1;
    max-width: 30%;
    position: relative;
}

.saleBanner {
    width: 60vh;
    height: 80vh; /* Fixed height or adjust as needed */
    object-fit: cover;
}
/* brian */