.logo > a > img {
    border-radius: 100%;
    height: 10vh;
    box-shadow: 0.3vh 0.3vh #111111;
  }
  
  #logonaam {
    display: flex;
    margin-left: 3vh;
    text-decoration: none;
    color: #fefefe;
  }
  